.promo-text2 p{
    position: absolute;
    color: #ffffff;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    
    font-size: 35px;
    text-align: center;
    bottom: 64%;
    left: 25%;


    line-height: 0.8;
    pointer-events: none;
}

.showcase2 {
    display: flex;
    top: 5%;
    gap: 20px;
    z-index: 2;
    position: relative;
    pointer-events: none;
}